

<!DOCTYPE html >

<html>
<header>
	<title> Ma page index avec du twig</title>
	<meta charset = "utf-8" />

</header>

<body>
	
<p>
je suis le big boss player. TWIG, le moteur de template en puissance. Hummm...
très sympat :-)<br/>
voici la valeur de la variable : {{ var1 }}.<br/>
Merci pour l'expertise.
{%block bloc1  %} <br/> Cette phrase que vous lisez vient du bloc1 du fichier 
twig sal1 <br/> Et si desormais SALIMAN devient 54L1M4N ??? <br/>
{% endblock %}

</p>
</body>
</html>
