/*#nav-menu-container {
	display: inline-block;
}
#bar2{
	background-color: #00008B;
	width: 100%;
	
}
.feature-area{
	margin-top: 10px;
}

#home{
	margin-top: 200px;
}*/

.corps {
	
	line-height: 2;
	margin-top: 160px;
	background-color: rgba(64,120,147,0.04);
	padding: 7%;
	padding-top: 2%;
	font-family: serif;
	text-align: justify;

}

#bar2 .log{
	max-width: 50px;
}

html {
	background-color: rgba(4,9,30,0.8);
}

.detail {
	margin-top: 2%;
	margin-left: 7%;
}

.formationCarte {
	margin-top: 10%;
	height: auto;
	width: 100%;
}

.formationCarteNonListPers {
	height: auto;
	width: 100%;
}

.formationCarte img, .formationCarteNonListPers img {
	
	height: 193.5px;
	width: 193.5px;
	border : solid black 5px;
	border-radius: 100%;
}
.contenuMotDi {
	box-sizing: border-box;
	margin: 4% 0%;
}
.contenuMotDi p, .contenuListeEnseign p, .corps2 p {
	font-size: 1.1rem;
}

.contenuListeEnseign {
	margin: 4% 0%;
}

.corps2 {
	padding: 5%;
	padding-top: 2%;
	padding-bottom: 0;

}

.listeActu {
	padding-top: 2%;
	padding-left: 5%;
}

.listeActu .cart {
	margin-top: 2%;
}

.cartParaTitre {

	margin-left: 5%;
	color: limegreen;

}

.marge {
	padding-left: 10%;
	padding-right: 10%;
}

/*div [class ~= "zoom"] : hover {

	margin-right: 500px;	
}*/

.zoom :hover {
	animation-name: animationActualiters;
	animation-duration: .4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.zoom * :hover {
	animation-name: none;
}

@keyframes animationActualiters {
	from {
		transform: translate3d(0);
		
		
	}

	to {
		transform: translate3d(10px, 5px, .7px);
		box-shadow:-10px -5px 10px rgba(0,0,0,.2);
		transition: box-shadow .4s ease-in-out;
	}
}

.actualiterImage {
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	min-height: 100px;
}

.actualiterTitre {
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

#singleEns {
	padding: 0;
}

#singleEns .infos_gene,.ribriques,.corps_rubrique {
	background-color: white;
	margin: 5% 0;
	padding: 2% 0;
	overflow: hidden;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
}

#singleEns .infos_gene {
	padding: 2% 5%;
}

#singleEns .infos_gene .nomEns {
	padding: 3% 1%;
	color: #282828;
	width: 100%;
}

#singleEns .infos_gene .info {
	padding: 3% 3%;
	text-align: left;
}

#singleEns .ribriques {
	padding: 2% 2%;
	margin-bottom: 0;	
}

#singleEns .ribriques ul {
	width: 100%;
}

#singleEns .corps_rubrique {
	margin-top: 1%;
	padding: 5% 7%
}

#singleEns .nav-link {
	color: black;
}

#singleEns .nav-item :hover {
	background-color: rgba(247,99,27,0.5);
	transition: background-color 0.5s;
	color: black;	
}

#singleEns .active {
	background-color: #00008b;
	color: white;

}

#singleEns .list-group-item {
	font-size: 1.2em;
}

#singleEns .puce {
	display: inline-block;
	height: 90%;
	width: auto;
	padding: 0 10%;
	padding-left: 0;
	color: #00008b;
	font-size: 1.4em;
}



