	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Institut Universitaire de Technologie - Université de Parakou</title>

			<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/other/linearicons.css">
			<link rel="stylesheet" href="css/other/font-awesome.min.css">
			<link rel="stylesheet" href="css/bootstrap/bootstrap.css">
			<link rel="stylesheet" href="css/other/magnific-popup.css">
			<link rel="stylesheet" href="css/other/nice-select.css">							
			<link rel="stylesheet" href="css/other/animate.min.css">
			<link rel="stylesheet" href="css/other/owl.carousel.css">			
			<link rel="stylesheet" href="css/other/jquery-ui.css">			
			<link rel="stylesheet" href="css/other/main.css">
			<link rel="stylesheet" href="css/style1.css">
			
		</head>
		<body>
		{% block entete %}	
		  <header id="header" id="home">
	  		<div class="header-top">
	  			<div class="container">
			  		<div class="row">
			  			<div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
			  				<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  				</ul>			
			  			</div>
			  			<div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
			  				<a href="mailto:iut@univ-parakou.bj"><span class="lnr lnr-envelope"></span> <span class="text">iut@univ-parakou.bj</span></a>			
			  			</div>
			  		</div>			  					
	  			</div>
			</div>
		    <div class="container main-menu" id="bar2">
		    	<div class="row align-items-center justify-content-between d-flex">
			      <div id="logo">
			        <a href="index.html"><img src="img/logo.png" class="img-fluid log" alt="" title=""/></a>
			      </div>
			      <nav id="nav-menu-container">
			        <ul class="nav-menu">
			          <li><a href="?p=accueil">Accueil</a></li>
			          <li class="menu-has-children"><a href="#">L'IUT</a>
				<ul>
			              <li><a href="?p=iut">Mot du directeur</a></li>
			              <li><a href="?p=administration">Administration</a></li>
			              <li><a href="?p=enseignants">Enseignants</a></li>
			              <li><a href="?p=actualites">Actualités</a></li>
			    </ul>
				   </li>
			          <li class="menu-has-children"><a href="#">Formations</a>
				  <ul>
			              <li class="menu-has-children"><a href="#">Licence professionnelle</a>
						<ul>
				              <li><a href="?p=formations&fo=lp&op=ge">Gestion des Entreprises (GE)</a></li>
				              <li><a href="?p=formations&fo=lp&op=gb">Gestion des Banques (GB)</a></li>
				              <li><a href="?p=formations&fo=lp&op=gc">Gestion Commerciale (GC)</a></li>
				              <li><a href="?p=formations&fo=lp&op=ig">Informatique de Gestion (IG)</a></li>
					          <li><a href="?p=formations&fo=lp&op=gtl">Gestion des Transports et Logistique (GTL)</a></li>
					          <li><a href="?p=formations&fo=lp&op=grh">Gestion des Ressources Humaines</a></li>
				        </ul></li>
			              <li class="menu-has-children"><a href="#">Master professionnel</a>
					     <ul>
				              <li><a href="?p=formations&fo=mp&op=cca">Comptabilité, Contrôle et Audit</a></li>
				              <li><a href="?p=formations&fo=mp&op=airh">Administration et Ingénierie des Ressources Humaines</a></li>
				              <li><a href="?p=formations&fo=mp&op=gec">Gestion et Expertise commerciale </a></li>
				              <li><a href="?p=formations&fo=mp&op=glia">Génie logiciel et Intégration d’Application</a></li>
					      	<li><a href="?p=formations&fo=mp&op=siad">Système d’Information et d’Aide à la Décision</a></li>
				         </ul></li>
			     </ul>	
				  </li>
			          <li><a href="?p=recherches">Recherche</a></li>
			          <li class="menu-has-children"><a href="?p=partenaires">Partenaires</a>
				  <ul>
			              <li><a href="?p=partenaires">Partenaires nationaux</a></li>
			              <li><a href="?p=partenaires">Partenaires internationaux</a></li>
			              </ul>
			          </li>	
			          <li class="menu-has-children"><a href="?p=vieEtudi">Vie Etudiante</a>
			            <ul>
			              <li><a href="?p=vieEtudi">Admission</a></li>
			              <li><a href="?p=vieEtudi">Alumni</a></li>
			              <li><a href="?p=vieEtudi">Mémoires</a></li>
			              <li><a href="?p=vieEtudi">Emploi du temps</a></li>
				    	  <li><a href="?p=vieEtudi">Consulter un resultat</a></li>
			            </ul>
			          </li>	
			          <li ><a href="?p=moodle">Moodle </a><li>					          					          		          
			          <li><a href="?p=contact">Contact</a></li>
			        </ul>
			      </nav><!-- #nav-menu-container -->		    		
		    	</div>
		    </div>
		  </header><!-- #header -->
		  {% endblock %}

		  {% block corps %}
			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-between">
						<div class="banner-content col-lg-9 col-md-12">
							<h1 class="text-uppercase">
								Institut Universitaire de 
								Technologie de Parakou 			
							</h1>
						<!--	<a href="#" class="primary-btn text-uppercase">Get Started</a> -->
						</div>										
					</div>
				</div>					
			</section>
			<!-- End banner Area -->

			<!-- Start feature Area -->
			<section class="feature-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="single-feature">
								<div class="title">
									<h4>Mot du directeur</h4>
								</div>
								<div class="desc-wrap">
									<p>
										Depuis 50 ans l’IUT de Parakou propose de nombreuses Licences Professionnelles au niveau Bac+3, inscrivant ainsi les IUT dans le schéma du L.M.D. Depuis 2016, il propose des formations de Masters Professionnels au niveau BAC+5...
									</p>
									<a href="?p=iut">Lire plus</a>									
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feature">
								<div class="title">
									<h4>Actualité 2</h4>
								</div>
								<div class="desc-wrap">
									<p>
										Actualité 2 Actualité 2 Actualité 2 Actualité 2 Actualité 2 Actualité 2 Actualité 2 Actualité 2 Actualité 2
									</p>
									<a href="?p=formations">Lire plus</a>									
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feature">
								<div class="title">
									<h4>Actualité 3</h4>
								</div>
								<div class="desc-wrap">
									<p>
										Actualité 3 Actualité 3 Actualité 3 Actualité 3 Actualité 3 Actualité 3 Actualité 3 Actualité 3 Actualité 3.
									</p>
									<a href="?p=partenaires">Lire plus</a>									
								</div>
							</div>
						</div>												
					</div>
				</div>	
			</section>
			<!-- End feature Area -->
				
			{% endblock %}	
		

			{% block pied %}
			<!-- Start search-course Area -->
			<section class="search-course-area relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="col-lg-6 col-md-6 search-course-left">
							<h1 class="text-white">
								Liens utiles
							</h1>
							<p>
								<a href="?p=vieEtudi">Espace étudiant</a>
							</p>
							<p>
								<a href="?p=vieEtudi">Consulter un résultat</a>
							</p>

							<p>
								<a href ="http://www.univ-parakou.bj/">Université de Parakou</a>
							</p>
<p>
								<a href ="https://www.enseignementsuperieur.gouv.bj">Ministère de l'Enseignement Supérieur et de la Recherche Scientifique</a>
							</p>								
							</div>
						</div>
						
				</div>	
			</section>
			<!-- End search-course Area -->
			
			<!-- start footer Area -->		
			<footer class="footer-area">
				<div class="container">
					<div class="row">			
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | IUT Parakou
						<div class="col-lg-6 col-sm-12 footer-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div>						
			</footer>	
			{% endblock %}
			<!-- End footer Area -->	

			
			<script src="js/other/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="js/bootstrap/bootstrap.min.js"></script>			
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="js/other/easing.min.js"></script>			
			<script src="js/other/hoverIntent.js"></script>
			<script src="js/other/superfish.min.js"></script>	
			<script src="js/other/jquery.ajaxchimp.min.js"></script>
			<script src="js/other/jquery.magnific-popup.min.js"></script>	
    		<script src="js/other/jquery.tabs.min.js"></script>						
			<script src="js/other/jquery.nice-select.min.js"></script>	
			<script src="js/other/owl.carousel.min.js"></script>									
			<script src="js/other/mail-script.js"></script>	
			<script src="js/other/main.js"></script>	
			
		</body>
	</html>
