{% extends "autre1/tempUIT.html.twig" %}


{% block corps2 %}
	

		<div class="row">
			<div class="col-md-9 contenuMotDi">
				<h2>Mots du Directeur</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>

			<div class="col-md-3 contenuMotDi">
				<div class="card formationCarteNonListPers">
					<div class="card">
						 <div class="card-img-top" style="overflow: hidden; padding: 10%;">
							  	<img src="img/avatar.png"  alt="Pas de Photo Disponible">
						</div>

						  <div class="card-body">
							    <h5 class="card-title">Dr TCHOKPONHOUE Henri A</h5>
							    <p class="card-text">
							    	Actuel Directeur de L'IUT
							    </p>
							    
						  </div>
					</div>
				</div>
			</div>
		</div>
	

{% endblock %}




