{% extends "autre1/tempUIT.html.twig" %}


{% block corps2 %}
	

		<div class="row">
			<div class="col-md-9 contenuMotDi">
				<h2>Mots du Directeur</h2>
				<p>
					A venir...
				</p>
			</div>

			<div class="col-md-3 contenuMotDi">
				<div class="card formationCarteNonListPers">
					<div class="card">
						 <div class="card-img-top" style="overflow: hidden; padding: 10%;">
							  	<img src="img/avatar.png"  alt="Pas de Photo Disponible">
						</div>

						  <div class="card-body">
							    <h5 class="card-title">Dr TCHOKPONHOUE Henri A</h5>
							    <p class="card-text">
							    	Actuel Directeur de L'IUT
							    </p>
							    
						  </div>
					</div>
				</div>
			</div>
		</div>
	

{% endblock %}




