{% extends "base.twig" %}


{% block corps %}
	
	<div class="container corps" >

	
		<div class="row bigTitr">
		<fieldset width="6cm" style="border-radius:2px;color:#f7631b;background-attachment:scroll;background-color:#f7631b; padding: 1.1%;"><h1 style="text-decoration:blink;background-attachment:scroll;"> <marquee style="color: white;">BIENVENU A L'INSTITUT UNIVERSITAIRE DE TECHNOLOGIE (IUT) DE l'UNIVERSITE DE PARAKOU</marquee></h1></fieldset>
			
		</div>
	
	{% block corps2 %}
		
	{% endblock %}

	</div>
	

{% endblock %}




